In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import missingno as msno
import folium
import geopandas as gpd

In [34]:
# load data to df (file 1900-2021)
df = pd.read_csv('/Users/Alfred/Documents/Trabajo/Personal/Climate/Data/1900_2021_DISASTERS.xlsx - emdat data.csv')

In [22]:
# info of the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16126 entries, 0 to 16125
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        16126 non-null  int64
 1   Seq                         16126 non-null  int64
 2   Glide                       1581 non-null   object
 3   Disaster Group              16126 non-null  object
 4   Disaster Subgroup           16126 non-null  object
 5   Disaster Type               16126 non-null  object
 6   Disaster Subtype            13016 non-null  object
 7   Disaster Subsubtype         1077 non-null   object
 8   Event Name                  3861 non-null   object
 9   Country                     16126 non-null  object
 10  ISO                         16126 non-null  object
 11  Region                      16126 non-null  object
 12  Continent                   16126 non-null  object
 13  Location                    14334 non-null  object
 14  Origin                      3794 non-null   object
 15  Associated Dis              3348 non-null   object
 16  Associated Dis2             707 non-null    object
 17  OFDA Response               1694 non-null   object
 18  Appeal                      2569 non-null   object
 19  Declaration                 3256 non-null   object
 20  Aid Contribution            677 non-null    float64
 21  Dis Mag Value               4946 non-null   float64
 22  Dis Mag Scale               14936 non-null  object
 23  Latitude                    2729 non-null   object
 24  Longitude                   2732 non-null   object
 25  Local Time                  1103 non-null   object
 26  River Basin                 1287 non-null   object
 27  Start Year                  16126 non-null  int64
 28  Start Month                 15739 non-null  float64
 29  Start Day                   12498 non-null  float64
 30  End Year                    16126 non-null  int64
 31  End Month                   15418 non-null  float64
 32  End Day                     12570 non-null  float64
 33  Total Deaths                11413 non-null  float64
 34  No Injured                  3895 non-null   float64
 35  No Affected                 9220 non-null   float64
 36  No Homeless                 2430 non-null   float64
 37  Total Affected              11617 non-null  float64
 38  Insured Damages ('000 US$)  1096 non-null   float64
 39  Total Damages ('000 US$)    5245 non-null   float64
 40  CPI                         15811 non-null  float64
 41  Adm Level                   7859 non-null   object
 42  Admin1 Code                 4581 non-null   object
 43  Admin2 Code                 3969 non-null   object
 44  Geo Locations               7859 non-null   object
dtypes: float64(14), int64(4), object(27)
memory usage: 5.5+ MB

In [23]:
# summary of df
df.describe()

,Year,Seq,Aid Contribution,Dis Mag Value,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI
count,16126.000000,16126.000000,6.770000e+02,4.946000e+03,16126.00000,15739.000000,12498.000000,16126.000000,15418.000000,12570.000000,1.141300e+04,3.895000e+03,9.220000e+03,2.430000e+03,1.161700e+04,1.096000e+03,5.245000e+03,15811.000000
mean,1996.764790,714.784820,1.254136e+05,4.735038e+04,1996.77837,6.444374,15.233957,1996.835607,6.576728,15.775020,2.842866e+03,2.621102e+03,8.823612e+05,7.329314e+04,7.165088e+05,7.986514e+05,7.247835e+05,63.215103
std,20.159065,1929.635089,2.997875e+06,3.094242e+05,20.15571,3.393965,8.953821,20.143010,3.352965,8.865486,6.860595e+04,3.440343e+04,8.573913e+06,5.230058e+05,7.718598e+06,3.057638e+06,4.723131e+06,26.734285
min,1900.000000,1.000000,1.000000e+00,-5.700000e+01,1900.00000,1.000000,1.000000,1900.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,3.400000e+01,2.000000e+00,3.221647
25%,1989.000000,93.000000,1.750000e+02,7.000000e+00,1989.00000,4.000000,7.000000,1989.000000,4.000000,8.000000,6.000000e+00,1.400000e+01,1.244750e+03,5.725000e+02,6.500000e+02,5.000000e+04,8.300000e+03,45.692897
50%,2001.000000,270.000000,7.210000e+02,1.515000e+02,2001.00000,7.000000,15.000000,2001.000000,7.000000,16.000000,2.000000e+01,5.000000e+01,1.000000e+04,3.000000e+03,5.965000e+03,1.725000e+05,6.000000e+04,68.415379
75%,2011.000000,486.000000,3.511000e+03,1.129650e+04,2011.00000,9.000000,23.000000,2011.000000,9.000000,23.000000,6.300000e+01,2.000000e+02,9.182300e+04,1.750000e+04,5.825500e+04,5.000000e+05,3.173000e+05,84.252733
max,2021.000000,9881.000000,7.800000e+07,1.302587e+07,2021.00000,12.000000,31.000000,2021.000000,12.000000,31.000000,3.700000e+06,1.800000e+06,3.300000e+08,1.585000e+07,3.300000e+08,6.000000e+07,2.100000e+08,100.000000

In [24]:
# show columns
df.columns

Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [41]:
# df with Year, Disaster Subtype = 'Riverine flood', Country, Region, Continent, Location, Dis Mag Value, Dis Mag Scale,  Total Damages ('000 US$)
df2 = df[['Year', 'Disaster Subtype', 'Country', 'Region', 'Continent', 'Location', 'Dis Mag Value', 'Dis Mag Scale', "Total Damages ('000 US$)"]]

# only Riverine flood
df2 = df2[df2['Disaster Subtype'] == 'Riverine flood']

# only Country = United States of America
df2 = df2[df2['Country'] == 'United States of America (the)']

# null values
df2.isnull().sum()

Year                        0.0
Disaster Subtype            0.0
Country                     0.0
Region                      0.0
Continent                   0.0
Location                    0.0
Dis Mag Value               0.0
Dis Mag Scale               0.0
Total Damages ('000 US$)    0.0
dtype: float64

In [26]:
# unique Disaster Subgroup
df['Disaster Subgroup'].unique()

array(['Climatological', 'Geophysical', 'Meteorological', 'Hydrological',
       'Biological', 'Extra-terrestrial'], dtype=object)

In [27]:
# create a df with Disaster Subgroup ...
df1 = df[['Disaster Subgroup', 'Disaster Subtype', 'Disaster Subsubtype']]
df1

      Disaster Subgroup Disaster Subtype Disaster Subsubtype
0        Climatological          Drought                 NaN
1        Climatological          Drought                 NaN
2           Geophysical  Ground movement                 NaN
3           Geophysical         Ash fall                 NaN
4           Geophysical         Ash fall                 NaN
...                 ...              ...                 ...
16121      Hydrological              NaN                 NaN
16122      Hydrological              NaN                 NaN
16123        Biological    Viral disease                 NaN
16124      Hydrological              NaN                 NaN
16125      Hydrological              NaN                 NaN

[16126 rows x 3 columns]

In [28]:
# list of unique DIsaster Subtype and count
df1['Disaster Subtype'].value_counts()

Disaster Subtype
Riverine flood                      2660
Tropical cyclone                    2420
Ground movement                     1484
Convective storm                    1118
Flash flood                          779
Drought                              769
Bacterial disease                    768
Landslide                            570
Viral disease                        543
Forest fire                          313
Cold wave                            307
Ash fall                             246
Heat wave                            219
Extra-tropical storm                 131
Land fire (Brush, Bush, Pasture)     123
Avalanche                            119
Coastal flood                         85
Severe winter conditions              77
Mudslide                              76
Locust                                62
Tsunami                               57
Parasitic disease                     49
Grasshopper                           16
Rockfall                              12
Lava flow                              9
Subsidence                             2
Pyroclastic flow                       2
Name: count, dtype: int64

In [29]:
# Distribution of disasters by Disaster Type, Disaster Subgroup, Country, Region, Continent

Disaster Type
Flood                    5551
Storm                    4496
Earthquake               1544
Epidemic                 1501
Landslide                 776
Drought                   770
Extreme temperature       603
Wildfire                  471
Volcanic activity         265
Insect infestation         96
Mass movement (dry)        48
Glacial lake outburst       2
Fog                         1
Impact                      1
Animal accident             1
Name: count, dtype: int64

In [30]:
# null values in df
df.isnull().sum()

Year                              0
Seq                               0
Glide                         14545
Disaster Group                    0
Disaster Subgroup                 0
Disaster Type                     0
Disaster Subtype               3110
Disaster Subsubtype           15049
Event Name                    12265
Country                           0
ISO                               0
Region                            0
Continent                         0
Location                       1792
Origin                        12332
Associated Dis                12778
Associated Dis2               15419
OFDA Response                 14432
Appeal                        13557
Declaration                   12870
Aid Contribution              15449
Dis Mag Value                 11180
Dis Mag Scale                  1190
Latitude                      13397
Longitude                     13394
Local Time                    15023
River Basin                   14839
Start Year                        0
Start Month                     387
Start Day                      3628
End Year                          0
End Month                       708
End Day                        3556
Total Deaths                   4713
No Injured                    12231
No Affected                    6906
No Homeless                   13696
Total Affected                 4509
Insured Damages ('000 US$)    15030
Total Damages ('000 US$)      10881
CPI                             315
Adm Level                      8267
Admin1 Code                   11545
Admin2 Code                   12157
Geo Locations                  8267
dtype: int64