In [43]:
import pandas as pd
import requests

In [44]:
# read data
df = pd.read_csv('C:/Users/seba/OneDrive - Universidad Adolfo Ibanez/UAI1/2023-S1/globant/los-outliers/Data/1900_2021_DISASTERS.xlsx - emdat data.csv')

In [45]:
# drop rows with missing values in Location variable
df = df.dropna(subset=['Location'])

In [46]:
# just keep rows where Location contains "Texas" or "texas"
df2 = df[df['Location'].str.contains("Texas|texas")]

In [47]:
# just keep variables Year, Disaster Type, Location, Start Month, Start day, End Month, End Day
df2 = df2[['Year', 'Disaster Type', 'Location', 'Start Month']]
df2

,Year,Disaster Type,Location,Start Month
845,1900,Storm,Galveston (Texas),9.0
876,1909,Storm,Velasco (Texas),NaN
893,1913,Storm,"Ohio, Indiana, Texas",3.0
899,1915,Storm,"Cavelston (Texas), New Orleans (Louisiana)",8.0
908,1919,Storm,"Florida Keys, South Texas",9.0
...,...,...,...,...
16075,2021,Storm,"Alabama, Louisiana, Mississippi, Tennessee, Ge...",5.0
16076,2021,Storm,"Texas, Oklahoma",4.0
16087,2021,Storm,"North Carolina, Oklahoma, Arkansas, Missouri, ...",2.0
16099,2021,Flood,El Paso (Texas); Gila Bend (Arizona),8.0
16102,2021,Flood,"Bolivar, Sunflower, Panola, and Tallahatchie C...",6.0

In [48]:
# count nans in start month, Start Day, End Month, End Day separately
print(df2.isnull().sum())

# drop rows with missing values in Start Month, Start Day, End Month, End Day
df2 = df2.dropna(subset=['Start Month'])

Year             0
Disaster Type    0
Location         0
Start Month      3
dtype: int64

In [49]:
# shape df
df2.shape

(253, 4)

In [50]:
df2

,Year,Disaster Type,Location,Start Month
845,1900,Storm,Galveston (Texas),9.0
893,1913,Storm,"Ohio, Indiana, Texas",3.0
899,1915,Storm,"Cavelston (Texas), New Orleans (Louisiana)",8.0
908,1919,Storm,"Florida Keys, South Texas",9.0
960,1932,Storm,"Texas, Alabama, South Carolina",3.0
...,...,...,...,...
16075,2021,Storm,"Alabama, Louisiana, Mississippi, Tennessee, Ge...",5.0
16076,2021,Storm,"Texas, Oklahoma",4.0
16087,2021,Storm,"North Carolina, Oklahoma, Arkansas, Missouri, ...",2.0
16099,2021,Flood,El Paso (Texas); Gila Bend (Arizona),8.0
16102,2021,Flood,"Bolivar, Sunflower, Panola, and Tallahatchie C...",6.0

In [52]:
# count rows with ";"
df['Location'].str.contains(";").sum()

456

In [ ]:
latlon = {"texas": [31.9686, 99.9018]}

In [ ]:
url = "https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&dt={ts}&appid={apiid}"

 # Se hace el request
response = requests.get(url.format(lat=lat, lon=lon, ts=ts))
dict = response.json()